@import 'flat';

body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-scene {
  width: 60%;
  height: 100vh;
  background-color: #f3ddc1;
}

.right-scene {
  width: 40%;
  height: 100vh;
  background-color: rgb(120,120,120);
}

.flat-list {
  display: flex;
}

.map {
  height: 100%;
  width: 100%;
}
