body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-scene {
  width: 60%;
  background-color: rgb(50,50,50);
}

.right-scene {
  width: 40%;
  background-color: rgb(120,120,120);
}

.flat-list {
  display: flex;
}

.flat {
  width: 200px;
  height: 150px;
  color: black;
  margin: 5px;
  padding: 5px 10px;
  background-color: rgb(200,200,200);
  border-radius: 3px;
}
